<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/bootstrap.min.css" />
        <link rel="stylesheet" href="css/font-awesome.css" />
        <link rel="stylesheet" href="css/styles.css" />
        <script src="lib/angular.js"></script>
        <script src="lib/angular-ui-router.js"></script>
        <script src="main.js"></script>
        <script src="modules/login/login.js"></script>
        <script src="modules/settings/settings.js"></script>
    </head>
    <body ng-app="app">
        <header>
            <nav class="navbar navbar-default">
                <div class="container">
                    <div class="navbar-header">
                        <a class="navbar-brand" ui-sref="home">Harmony</a>
                    </div>

                    <ul class="nav navbar-nav navbar-right" ng-show="loggedIn">
                        <li><a ui-sref="home">Home</a></li>
                        <li><a ui-sref="apps">Apps</a></li>
                        <li><a ui-sref="settings.main">Settings</a></li>
                        <li><a ui-sref="login">Disconnect</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <div id="main" class="container">
            <div ui-view></div>
        </div>
    </body>
</html>
